# Dependencies
node_modules
.pnpm-store
evago-wireframes
evago-backend

# Build outputs
dist
build
.next

# Environment and secrets
.env
.env.local
.env.*.local

# Databases & local state
*.db
*.db-journal
evago-backend/data/store.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
